html, body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h4 {
    margin: .67em 0;
    font-size: 16px;
    font-weight: normal;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999;
}

p {
    margin: 0 0 10px;
}

button {
    line-height: inherit;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    color: inherit;
}

a {
    color: #428bca;
    text-decoration: none;
    background: transparent;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/****
 * Grid and responsiveness
 */
.grid {
    margin-right: -5px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid > [class^="grid-"], .grid > [class*=" grid-"] {
    min-height: 1px;
    padding: 5px;
}

.grid > .grid-xs-12 {
    width: 100%;
}

.grid > .grid-xs-8 {
    width: 66.66666666666666%;
}

.grid > .grid-xs-6 {
    width: 50%;
}

.grid > .grid-xs-4 {
    width: 33.33333333333333%;
}

.grid > .grid-xs-3 {
    width: 25%;
}

.grid > .grid-xs-2 {
    width: 16.66666666667%;
}

.grid > .grid-xs-1 {
    width: 10%;
}

@media (min-width: 768px) {
    .grid > .grid-sm-8 {
        width: 66.66666666666666%;
    }

    .grid > .grid-sm-6 {
        width: 50%;
    }

    .grid > .grid-sm-4 {
        width: 33.33333333333333%;
    }

    .grid > .grid-sm-3 {
        width: 25%;
    }

    .grid > .grid-sm-2 {
        width: 16.66666666667%;
    }

    .grid > .grid-sm-1 {
        width: 10%;
    }
}


.kit {
    display: none;
}

/*Adaptive background*/

body .wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /*overflow-y: auto;*/
}

/*body .wrapper:after,*/
/*body .wrapper:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -5%;*/
/*    left: 10px;*/
/*    width: 50%;*/
/*    height: 80%;*/
/*    z-index: -1;*/
/*    background: rgba(255, 255, 255, 0.05);*/
/*    border: 1px solid rgba(255, 255, 255, 0.1);*/
/*    -webkit-transform: rotate(45deg);*/
/*    -moz-transform: rotate(45deg);*/
/*    -ms-transform: rotate(45deg);*/
/*    -o-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*}*/

body .banner {
    z-index: 2;
}

.banner {
    position: static;
    background-color: #fff;
    border-radius: 5px;
    border: lightgray thin solid;
    color: #000;
    top: 50px;

    margin: 50px auto;
    transition: width 2s, height 2s;
}

.banner .title {
    margin-bottom: 2em;
    position: relative;
}

.banner .title h1 {
    display: inline-block;
}

.banner .highlight {
    color: #8ba7ad;
    font-size: 2.5em;
    padding: 10px;
}

.banner .highlight a {
    color: #8bbbdc;
}

.banner.intro {
    padding: 30px;
    width: 400px;
    text-align: center;
    left: calc(50% - 200px);
    height: 650px;
    min-height: 650px;
}

.banner.intro img {
    max-height: 150px;
    border-radius: 50%;
}

.banner.about {
    padding: 20px;
    width: 800px;
    left: calc(50% - 400px);
    display: none;
    text-align: left;
}

.banner.about img {
    max-height: 150px;
}

.banner.about .label .label-item {
    background-color: #8ba7ad;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.banner.about .label .label-item > span {
    font-size: 1.5em;
}

.banner.about .label .label-item > p {
    font-size: 1em;
    color: white;
}

.banner.about .label .label-item > p:first-child {
    font-size: 1.9em;
}

.banner.about .distribution .title {
}

.banner.about .distribution .progress {
    display: flex;
    position: relative;
    flex-flow: column;
    background-color: #eee;
    height: 20px;
    align-items: flex-end;
    margin-bottom: 10px;
}

.banner.about .distribution .progress > div {
    transition: 1.1s 0.2s width ease-in-out;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    opacity: 1;
    background-color: #8bbbdc;
    height: 100%;
    border-radius: 0 5px 5px 0;
}

.banner.about .distribution .progress > div > span {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #8ba7ad;
    color: #fff;
    height: 100%;
    width: 100px;
    text-align: center;
}

.banner.about .distribution .progress > span {
    z-index: 1;
    padding: 0 15px 0 0;
    color: #666;
}

.banner.about .specialization {
    text-align: center;
}

.banner.about .specialization .item {
    width: 100%;
    height: 100%;
}

.banner.about .specialization .item > span {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 10px;
    background-color: #8ba7ad;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.banner.about .editors {
    text-align: center;
}

.banner.about .editors img {
    max-width: 100%;
    max-height: 50px;
}

.banner.about .appearances .image-container {
    text-align: right;
}

.banner.about .appearances img {
    margin-top: -40px;
    border-radius: 5px;
    box-shadow: #cccccc 10px 10px;
}

.banner.project {
    padding: 20px;
    width: 1000px;
    left: calc(50% - 500px);
    text-align: left;
    display: none;
}

.banner h1, .banner h2, .banner h3 {
    font-family: "Alegreya Sans Light", "Open Sans Light", sans-serif;
    font-weight: 500;
}

.banner h1 {
    font-size: 3em;
}

.banner h2 {
    font-size: 2em;
}

.banner h3 {
    font-size: 1.5em;
}

.banner h1 small {
    font-size: 80%
}

.banner p {
    font-size: 1.5em;
    visibility: visible;
    font-family: "Alegreya Sans Light", sans-serif;
    color: #666;
}

.banner p.quote {
    margin-top: 50px;
    transition: margin-top 1s;
    font-size: 1.65em;
}

.banner .content {
    /*    overflow-x: hidden;
        overflow-y: scroll;*/
    height: calc(100% - 70px);
}

.banner.project .content h2 {
    margin: 10px 0 0 0;
}

.banner.project .content .subtitle {
    color: #999;
}

.banner.project .content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.banner.project .image img {
    width: 100%;
    box-shadow: rgba(204, 204, 204, 0.77) 0px 4px 6px 2px;
    border: lightgrey thin solid;
    margin: 15px auto;
}

.banner .btn-portfolio-sm {
    display: none;
}

.banner .btn-linkedin-sm {
    display: none;
}

#logo {
    max-height: 50px;
}

.menu-item {
    display: inline;
}

.btn-label {
    color: #428bca;
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    /*position: absolute;*/
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

/*Icons*/
.social-icons-wrapper {
    position: relative;
    height: 120px;
}

.social-icons {
    background-color: rgb(214, 228, 229);
    padding: 20px;
    position: absolute;
    width: 500px;
    left: -80px;
    border-radius: 100px;
    border: #fff thin solid;
}

.social-icons .fa-lg {
    margin: auto 5px;
    font-size: 1.5em;
    color: #2086bf;
}

.social-icons > button, .social-icons > a {
    display: inline-block;
    margin: 5px;
}

.social-icons button {
    border: none;
    background-color: transparent;
    margin: 5px;
}

.social-icons button:active, .social-icons button:focus {
    outline: none;
}

.social-icons .fa-lg:hover, .social-icons .fa-lg:focus {
    color: #1076af;
    text-decoration: none;
}

div.nav {
    position: fixed;
    display: inline;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

div.nav.top {
    margin-top: 20px;
}

div.nav.bottom {
    bottom: 20px;
}

.quote .nav {
    position: relative;
}

div.nav button {
    color: rgba(66, 139, 202, 0.7);
    background-color: rgba(214, 228, 229, 0.8);
    border-style: none;
}

div.nav button:active, div.nav button:focus, div.nav button:hover {
    outline: none;
    color: rgb(66, 139, 202);
    background-color: rgb(214, 228, 229);
}

div.nav .next {
    border-radius: 0 20px 20px 0;
}

div.nav .prev {
    border-radius: 20px 0 0 20px;
}

div.nav.bottom button {
    border-radius: 10px;
    text-decoration: underline;
    background: none;
    border: none;
    color: #1f6885;
}

/*Media*/
@media only screen and (max-width: 870px) {
    .banner {
        position: static;
        margin: 50px auto;
        height: auto;
    }

    body .wrapper {
        overflow-y: auto;
    }

    .banner.intro {
        padding: 20px;
    }

    .banner.project, .banner.about {
        width: calc(100% - 20px);
    }

    .social-icons-wrapper {
        height: 100px;
    }

    .social-icons {
        width: 520px;
        left: -80px;
    }
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 500px) {
}

@media only screen and (max-width: 450px) {

    .banner.intro {
        width: 350px;
    }

    .banner .btn-portfolio-lg {
        display: none;
    }

    .banner .btn-linkedin-lg {
        display: none;
    }

    .banner .btn-portfolio-sm {
        display: inline-block;
    }

    .banner .btn-linkedin-sm {
        display: inline-block;
    }

    .social-icons-wrapper {
        height: 130px;
    }

    .social-icons {
        width: 370px;
        left: -30px;
        padding: 5px;
    }
}

@media only screen and (max-width: 399px) {
    .banner h1 {
        font-size: 2.6em;
    }

    .banner .highlight {
        font-size: 1.8em;
    }

    .banner.intro {
        min-height: 500px;
    }

    .social-icons-wrapper {
        height: 100px;
    }
}

@media only screen and (max-width: 349px) {
    .banner h1 {
        font-size: 2.5em;
    }

    .banner.intro {
        width: 290px;
    }

    .banner.intro img {
        max-height: 100px;
    }

    .banner.about .label .label-item > p:first-child {
        font-size: 1.3em;
    }

    .banner.about .appearances img {
        margin-top: auto;
    }

    .banner.about .appearances .image-container {
        text-align: left;
    }

    .banner p {
        font-size: 1.4em;
    }

    .banner p.quote {
        margin-top: 20px;
    }

    .social-icons-wrapper {
        height: 120px;
    }

    .social-icons {
        width: 310px;
        left: -30px;
        padding: 5px;
    }

    .social-icons .fa-lg {
        font-size: 1em;
    }
}

@media only screen and (max-width: 299px) {
}


@font-face {
    font-family: "Alegreya Sans Light";
    src: url('../../fonts/AlegreyaSans/AlegreyaSans-Light.ttf');
}

/*
* Timeline
*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline-title a[href^='http']:after {
    font-family: FontAwesome, sans-serif;
    font-size: .8em;
    content: " \f0c1"
}

.timeline-badge.legend {
    padding: 2px;
    color: white;
    font-size: .7em;
    border-radius: 3px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

@media (max-width: 320px) {
    ul.timeline:before {
        left: 20px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        width: -webkit-calc(100% - 50px);
    }

    ul.timeline > li > .timeline-badge {
        left: 5px;
        margin-left: 0;
        top: 26px;
        width: 30px;
        font-size: 1em;
        height: 30px;
        line-height: 30px;
    }

}

/*
* 404 page
*/
#p-404 .details {
    margin: 20px auto;
}

#p-404 .banner.intro {
    min-height: 400px;
}

#p-404 p {
    color: #a06d6c;
}

#p-404 .btn-primary {
    background-color: rgb(132, 27, 8);
    border-color: #a06d6c;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

#p-404 .btn-primary:hover {
    background-color: #a06d6c;
    border-color: rgb(132, 27, 8);
}